.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

header select {
    margin-left: 10px;
    background: var(--color-white);
    padding: 0.3rem 1rem;
    border: 2px solid var(--color-primary);
    font-size: 13px;
    font-weight: 600;
    color: var(--color-primary);
    width: 220px;
    border-radius: 4px;
}

header .notification {
    background: var(--color-white);
}