/*Import's---------------------------------------------------------------------------------------------------------------------------------*/
@import url(../css/global/header.css);
@import url(../css/global/global.css);
@import url(../css/global/footer.css);

/*Home*/
@import url(../css/home/navbar.css);
@import url(../css/home/main.css);
@import url(../css/home/topo.css);
@import url(../css/home/estatistica.css);

/*Utilidades*/
@import url(../css/utilidades/cores.css);
@import url(../css/utilidades/componentes.css);

/*Fontes-----------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800&display=swap');


/*media-----------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {

    body {
        width: 100%;
    }

    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    /*ajustar depois*/
    .sidebar a:last-child span, .sidebar a:last-child h3{
        display: none;
    }

    main .left > div {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        gap: 4rem;
    }

    main .left > div p{
        text-align: end;
        position: relative;
        left: 30rem;
        bottom: 8rem;
    }

    main .left > div button{
        position: relative;
        left: 30rem;
        bottom: 6rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .insights a {
        display: flex;
        font-size: 13px;
        margin-left: 7rem;
        cursor: pointer;
        padding: 0 1rem;
        font-weight: 600;
        position: relative;
        bottom: 2rem;
    }
    
    main .insights a:hover {
        color: var(--color-primary);
        transition: all 300ms ease;
    }
    
    main .insights a:last-child {
        border: solid 1px var(--color-secundary);
        border-radius: 10px;
        padding: .3rem 1rem;
        color: var(--color-secundary);
        cursor: pointer;
    }
    
    main .insights a:last-child:hover {
        background: var(--color-secundary);
        border: solid 1px var(--color-secundary);
        color: var(--color-white);
        transition: all 400ms ease;
    }

}

@media screen and (max-width: 768px) {

    body {
        overflow: scroll;
        width: 100%;
    }
    
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light-2);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }   

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    main .left > div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1rem;
        position: relative;
        left: 6rem;
    }

    main .left > div p{
        text-align: center;
    }

    main .left > div button{
        position: relative;
        left: 1.8rem;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light-2);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }


}
