.right .statistics {
    margin-top: 2rem;
}

.right .statistics h2 {
    margin-top: 3.8rem;
    margin-bottom: 0.8rem;
}

.right .statistics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .statistics .item:hover {
    box-shadow: none;
}

.right .statistics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .statistics .item .icon {
    background: var(--color-primary);
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
}

.right .statistics .add-statistic {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .statistics .add-statistic div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .statistics .add-statistic div h3 {
    font-weight: 500;
}

.right .statistics button {
    margin-top: .5rem;
}